body {
  background-color: #FFD2AF;
  color: #48C6FF;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

nav {
        float: left;
        margin-left : 33%;
        font-family: 'Lobster', cursive;
}

nav ul {
        padding: 10px ;
        float: left;
        border-bottom: 10px;
        border: 3px solid ##48616C;
        border-radius: 30px;

}

nav li {
        float: left;
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
        text-decoration: underline;

    }

img{
  width: 250px;
  height: 100px;
  margin-left: 40%;
  margin-bottom: 30px;
}

p {
  font-family: courier;
}
